<div class="collapse" id="Development">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'udemy.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>7 courses/ 120 hours by Jordan Hudgens, CTO Devcamp </strong>Comprehensive Ruby Programming, Comprehensive Ruby on Rails, Dissecting Ruby on Rails 5, Professional Rails CodeAlong, Angular2 + Rails 5 Bootcamp, Ruby on Rails Foundations, HTML/CSS Bootcamp
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'mooc.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        Agile Development Using Ruby on Rails, BerekleyX: CS169.1x
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'udemy.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>9 courses 166 hours Mashrur Hossain </strong>The Complete Ruby on Rails Developer Course, Javascript & Ruby on Rails with React, Angular and Vue, Python3: Project-based Python, Algorithms, DataStructures, The Complete MySQL Developer Course, Master Ruby, Python and Java, Ruby on Rails: A Test Driven Approach, Ruby on Rails 5: BDD RSpec and Capybara, The Complete TDD Course: Master Ruby Development.
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'mooc.jpg', width: '100%' %>
      </div>
      <div class="col-md-9">
        Introduction to Computer Science, Harvard CS50
        Agile Development Using Ruby on Rails, BerekleyX: CS169.2x
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'udemy.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>256 hours 8 courses by Colt Steele, Bootcamp Instructor </strong>JavaScript Algorithms & Data Structures Masterclass, The Modern JavaScript Bootcamp Course, The Web Developer Bootcamp, The Modern Python 3 Bootcamp, The Bootstrap 4 Bootcamp, The Advance Web Developer Bootcamp, The Modern React Bootcamp (Hooks, Context, NextJS), The Ultimate MySQL Bootcamp
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'udemy.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>110 hours 4 courses by Jonas Schmedtmann </strong>Advanced CSS & Sass: Flexbox, Grid, Animations; The Complete JavaScript Course, Nodejs, Express & MongoDB; Build Responsive Websites with HTML5, CSS & JavaScript.
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'udemy.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>70.5 hours 2 courses by Andrei Neagoie </strong>The Complete Junior to Senior Web Developer Rooadmap, The Complete Web Developer: Zero to Mastery
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'udemy.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>67.5 hours 3 courses by Jose Portilla </strong> Complete Python 3 Masterclass, Python and Djanngo Full Stack Web Development, Python for Data Science and Machine Learning Bootcamp
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'udemy.png', width: '100%' %>
      </div>
      <div class="col-md-9">
        <strong>175.5 hours 12 courses </strong>Bootstrap 4 by Code & Create, Javascript: Understanding the Weird Parts (Anthony Alicea),  Complete WordPress Wesite Business Course(Rob Percival), Complete Web Developer2.0 Course(Rob Percivval), Complete Web Developer Course(Percival), Complete Web Developer Bootcamp(Robeen Dey), Ultimate Web Designer Course(Brad Hussey), Gimp 2.8, CSS Masterclass, Build a Photo Blog in Ruby on Rails(Jordan Hudgens), AWS Certified Solutions Architect, AWS Certified Developer
      </div>
    </div>
  </div>
