
<div class="app-card-container about-container">
  <div class="card">
    <h1 class="about-card">About Me</h1>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "SHERRY.jpg", width: '300', height: '350', alt: "Profile Image", class: 'prof-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" aria-valuenow="<%= skill.percent_used %>" aria-valuemax="100" style="width: <%= skill.percent_used %>%">

              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8 about-text">
        <p>I'm a Banker turned Full Stack Web Developer, living in Phoenix but hail from the south, namely New Orleans and Mississippi. I've enjoyed an illustrious career in banking where I started as a Teller and wound up owning my own lending companies and a real estate company. I have always had a fascination with software as a user which developed into an intensive journey to becoming a Full Stack Developer.</p>

        <p>I have worked with numerous technologies but Ruby is my passion.</p>
        <p>I'm enamored with learning and challenging myself. My other interests include all things outdoors namely, boating and camping. But especially I adore my family and playing with my dogs.</p>



        <%= render 'about_buttons' %>
        <%= render 'about_job_history' %>
        <%= render 'about_education' %>
        <%= render 'about_professional_development' %>

      </div>
    </div>
  </div>
</div>
